.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.tic-tac-toe {
  width: 300px;
  height: 300px;
  border: 2px solid yellow;
}

.ttt-grid {
  width: 100px;
  height: 100px;
  border: 1px solid yellowgreen;
  float: left;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}


